body {

	margin: 0;
	padding: 0;
	background-size: cover;
	background: wheat;
	font-family: sans-serif;
}

#image {
	height: 120px;
	width: 120px;
}

.loginBox {
	position: absolute;
	top: 20%;
	left: 40%;
	transform: translate(-50px, -50px);
	padding: 80px 40px;
	width: 450px;
	height: 530px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    border-radius:10px;
}

.user {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-120px/2);
	left: calc(50% - 60px);
}

h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
    text-align: center;
}

.loginBox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}

.loginBox input {
	width: 100%;
	margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

::placeholder {
	color: rgba(255, 255, 255, .5);
}

.loginBox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
    border-radius: 20px;
    cursor: pointer;
}

.loginBox input[type="submit"]:hover {
	background: #efed40;
	color: #262626;
}

.loginBox a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.integer {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
